:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(101, 86%, 17%);
    --clr-primary-2: hsl(101, 77%, 27%);
    --clr-primary-3: hsl(101, 72%, 37%);
    --clr-primary-4: hsl(101, 63%, 48%);
    --clr-white: #fff;
    --clr-gold: #c59d5f;
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }

  html {
      height: 100vh;
      width: 100vw;
  }

  body {
      background-color: var(--clr-primary-1);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  header {
    background-color: var(--clr-primary-2);
    height: 10vh;
      width: 80vw;
  }

  h3 {
      color: var(--clr-gold);
      text-align: center;
      background-color: var(--clr-primary-3);
  }

  main {
      margin: 5rem;
      background-color: var(--clr-primary-4);
      height: 20vh;
      width: 80vw;
      display: flex;
      justify-content: center;
      align-items: stretch;
  }